.aside {
  flex: 0 0 19.5rem;
}

.list-subheading {
  text-align: center;
}
.list-subheading li {
  font-size: 1.6rem;
  font-weight: 900;
  margin: 1rem 0;
}

.icon-style {
  margin: 0 1rem 0 0;
  cursor: pointer;
}

.list-style {
  font-size: 1.3rem;
}

.label-list-style {
  margin: 0.5rem;
  font-size: 0.9rem;
}

.label-btn {
  background-color: var(--default-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

.label-input {
  outline: none;
  border-radius: 5px;
  padding: 0.3rem;
  margin: 0 0 0.5rem 0;
}

.width-250 {
  width: 15rem;
}

.width-0 {
  width: 0;
}

@media only screen and (max-width: 768px) {
  .aside {
    background-color: var(--background-color);
  }
  .sidenav {
    top: 0;
  }
  .aside a {
    padding: 0;

    color: var(--text-color);
  }
}
