.aside {
  flex: 0 0 19.5rem;
}

.list-subheading li {
  font-size: 1.6rem;
  font-weight: 900;
  margin: 1rem 0;
}

.icon-style {
  margin: 0 1rem 0 0;
  cursor: pointer;
}

.list-style {
  font-size: 1.3rem;
}

.label-list-style {
  margin: 0.5rem;
  font-size: 0.9rem;
}

.create-label-row {
  margin: 1rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-label-row input {
  width: 100%;
  outline: none;
  resize: none;
  border: none;
  background-color: var(--secondary-text-color);
  height: 2rem;
  padding: 1rem;
}

.label-btn {
  padding: 0.5rem;
  background-color: var(--default-color);
  border: none;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.width-250 {
  width: 15rem;
}

.width-0 {
  width: 0;
}

.dispaly {
  display: block;
}

.dispaly-none {
  display: none;
}

.label-box {
  margin: 0 0 0 2rem;
}

@media only screen and (max-width: 768px) {
  .aside {
    background-color: var(--background-color);
  }
  .sidenav {
    top: 0;
  }
  .aside a {
    padding: 0;

    color: var(--text-color);
  }
}
