.right-navbar .btn-style {
  margin: 0;
  padding: 0.5rem 1rem;
}

.right-navbar {
  align-items: center;
}

.left-navbar {
  align-items: center;
}

.right-navbar .show {
  display: none;
}

@media only screen and (max-width: 768px) {
  .right-navbar .show {
    display: block;
  }
}
