.page-container {
  display: flex;
  width: 89%;
}

.component-section {
  margin: 1rem 0;
}

.note-container {
  background-color: var(--note-bg-color);
  margin: 0 5rem;
}

.note-title {
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--line-styling-color);
  font-size: 1.5rem;
}

.note-content {
  margin: 1rem 0;
  padding: 1rem;
}
.note-function {
  margin: 1rem 0;
}

.links-handle {
  gap: 1rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin: 0 5rem;
}
