.page-container {
  display: flex;
  width: 89%;
}

.component-section {
  margin: 1rem 0;
}

.note-container {
  background-color: var(--note-bg-color);
  margin: 0 5rem;
  word-break: break-word;
}

@media only screen and (max-width: 768px) {
  .note-container {
    margin: 0 2rem;
  }
}
